#eimsort{
	position :relative;
	max-width:240px;
	max-height:380px;
	width:240px;
	height:380px;
	line-height:25px;
	margin-left:20px;
	margin-right:20px;
	background:#f0f0f0;
	border-radius:5px;
	float:left;
	word-break: break-all;
	word-wrap: break-word; 
	overflow:hidden;
	/*滑鼠移入移出效果*/
	transition: background 1s;
	-webkit-transition: background 1s;
}
#eimsort:hover {	
	background: lightblue;
}
#eoutsort{
	position :relative;
	max-width:1170px;
	width:1170px;
	padding:0px 0px 50px 0px;
	padding-left:25px;
	padding-right:25px;
	border:0px blue solid;
	top : 50px;
	display:inline-block;
	margin:0 auto;
	text-align:center;
}
#noresult{
	position :relative;
	max-width:1170px;
	max-height:420px;
	width:1170px;
	height:390px;
	padding:100px 0px 50px 0px;
	border:0px blue solid;
	top : 50px;
	display:inline-block;
	margin:0 auto;
	text-align:center;
}
#ime{
	width:90%;
	overflow:hidden; 
	margin-top:5%;
	height:240px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#imeinmanage{
	width:90%;
	overflow:hidden; 
	margin-top:5%;
	height:240px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#loadmore{
	border:0;
	border-radius:100px;
	font-weight:bold;
	font-family:PMingLiU;
	outline:none;
	background-color:#006599;
	font-size:16px;
	position:relative;
	margin-top:50px;
	height:60px;
	width:250px;
	top:0px;
	color:#ffffff;
}
#loadmore:hover{
	color:#003C9D;
	background-color:#fff;
	border:2px #006599 solid;
}
#ename{
	color:black;
	font-weight:bold;
	font-family:PMingLiU;
	font-size:18px;
	padding:8px 0 0 0;
	text-overflow: ellipsis;
}
#edate{
	color:#969696;
	font-size:14px;
	padding:4px;
	font-weight:bold;
	text-overflow: ellipsis;
	
}
#eadr{
	color:#969696;
	font-size:14px;
	font-weight:bold;
	padding:4px;
	text-overflow: ellipsis;
}
#ear #edate #ename
{
	-webkit-font-smoothing: antialiased;
}
#txt_blocksearch{
	position :relative;
	width:300px;
	height:40px;
	left:38px;
	top:-40px;
	left:151px;
}
#datasort{
	position :relative;
	font-size:18px;
	height: 40px;
	width: 150px;
    line-height: 40px;
}
#areac{
	position :relative;
	float:right;
	top:-80px;
}
.areaclass{
	width:100px;
	height:40px;
	line-height: 40px;
	text-align:center;
	font-size:16px;
}
.regionhun{
	position :absolute;
	width:100px;
	height:40px;
	line-height: 40px;
	top:160px;
	right:930px;
	display:none;
}
.e_toolbar{
	width:100%;
	margin:0 auto;
}
/*市集舉辦者會員中心按鈕*/
.inner{
	text-decoration: none;
}
#eimsort:hover .ebtcontainer{
	display:block;
	position:absolute;
	top:150px;
	padding:0px 5px 0 5px;
}
#eimsort:hover .smanagecontainer{
	position:absolute;
	top:200px;
	display:block;
	padding : 0 85px 0 85px;
}
.smanagecontainer{
	display:none
}
.ebtcontainer{
	display:none;
}
.edelBtn{
	float:right;
	height:40px;
	width:70px;
	line-height: 40px;
	margin-left: 30px;
}
.eupBtn{
	float:left;
	height:40px;
	width:70px;
	line-height: 40px;
	margin-left: 30px;
}
.smanage{
    height:40px;
	width:70px;
	line-height: 40px;
}
.event_index input[type="checkbox"],
.event_index input[type="radio"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	display: block;
	float: left;
	margin-right: -2em;
	opacity: 0;
	width: 1em;
	z-index: -1;
}
.areachoose{
	position:relative;
}
#gotop {
	position: fixed;
	border-radius: 100px;
	right: 20px;
	bottom: 30px;
	height:65px;
	width:65px;
	padding:15px 0 0 12px;
	font-size: 25px;
	background: #356933;
	color: #FAFCFD;
	cursor: pointer;
	z-index: 1000;
}

